<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Transcription Ai" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-white font-sans h-screen flex">
    <%= turbo_stream_from [current_chat, :messages] %>
    <!-- Sidebar Input Panel -->
    <div class="w-1/2 border-r border-gray-700">
      <p>current chat is: <%= current_chat.id %></p>
      <%= turbo_frame_tag "transcript", class: "h-full" do %>
        <%= render "transcripts/form", transcript: Transcript.find_by(id: session[:transcript_id]) || Transcript.new %>
      <% end %>
    </div>

    <!-- Chat Panel -->
    <div class="w-1/2 flex flex-col">
      <div class="flex-1 p-4 overflow-y-scroll">
        <%= turbo_frame_tag dom_id(current_chat, :message_list), src: chat_messages_path(current_chat) %>
      </div>

      <!-- Input Bar -->
      <div class="border-t border-gray-700 p-4">
        <%= turbo_frame_tag "prompt" do %>
          <%= render "chats/messages/form", message: Message.new, chat: current_chat %>
        <% end %>
      </div>
    </div>
  </body>
</html>
